CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.idea/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
*.tlog
*.obj
*.json
/.vs
/out/build/x64-Debug
